#PySchool Analysis
•	Generally schools obtaining higher budgets, did not provide better test results.
•   Schools with higher spending rate per student actually underperformed compared to schools with smaller budgets 
•	Overall smaller and medium sized schools highly out-performed large sized schools on passing math performances . 
•	Charter schools out-performed the public district schools across all metrics. However, more analysis will be required to define what’s causing this effect. 
•	There was no direct correlation between the amount of money spent per student nor budget in regards to the outcome of overall test scores

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [6]:
total_schools = len(school_data_complete["school_name"].value_counts())

total_students = len(school_data_complete)

total_budget = school_data["budget"].sum()

average_math_score = school_data_complete["math_score"].mean()

average_reading_score = school_data_complete["reading_score"].mean()

over_all_passing_score = (average_math_score + average_reading_score) / 2 

passing_math_total = len(school_data_complete.loc[(school_data_complete["math_score"]>=70),:])
passing_math = passing_math_total/total_students

passing_reading_total = len(school_data_complete.loc[(school_data_complete["reading_score"]>=70),:])
passing_reading = passing_reading_total/total_students


# Create DataFrames
raw_data_items = {
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score" : [average_math_score],
    "Average Reading Score" : [average_reading_score],
    "% Passing Math": [passing_math*100],
    "% Passing Reading" : [passing_reading*100],
    "% Overall Passing Rate" : [over_all_passing_score*100]
    }

items_pd = pd.DataFrame(raw_data_items, columns=[
                        "Total Schools", "Total Students","Total Budget", "Average Math Score", "Average Reading Score","% Passing Math", "% Passing Reading","% Overall Passing Rate"])

items_pd["Total Students"] = items_pd["Total Students"].map(
    "{0:,.0f}".format)
items_pd["Total Budget"] = items_pd["Total Budget"].map(
    "${0:,.2f}".format)

items_pd

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,8043.160582

In [7]:
school_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [8]:
school_data_complete.describe()
#overall_stat = school_data_complete.describe()
#overall_stat.iloc[3]

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [9]:
#Calculate the total number of schools
school_data_complete["school_count"]=school_data.school_name.count()

In [12]:
#Calculate the total number of students
school_data_complete["total_students"] =  school_data_complete["Student ID"].count()

In [14]:
#Calculate the total budget
school_data_complete["district_budget"]=school_data["budget"].sum()
school_data_complete["district_budget"].head()

0    24649428
1    24649428
2    24649428
3    24649428
4    24649428
Name: district_budget, dtype: int64

In [16]:
#Calculate the average math score
school_data_complete["avg_math_score"]=school_data_complete["math_score"].mean()

In [17]:
#Calculate the average reading score
school_data_complete["avg_reading_score"]=school_data_complete["reading_score"].mean()
school_data_complete["avg_reading_score"].head()

0    81.87784
1    81.87784
2    81.87784
3    81.87784
4    81.87784
Name: avg_reading_score, dtype: float64

In [ ]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
schoolData_complete["overall_avg_score"]=(schoolData_complete.math_score.mean()+schoolData_complete[reading_score.mean())/2

In [ ]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math=schoolData_complete.loc[(
    schoolData_complete["math_score"] > 70)]
passing_math.math_score.count()

In [ ]:
schoolData_complete["per_passing_math"]=(passing_math.math_score.count()/schoolData_complete.math_score.count())
schoolData_complete.per_passing_math.head(1)

In [ ]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading=schoolData_complete.loc[(schoolData_complete["reading_score"]>70)]
passing_reading.reading_score.count()

In [ ]:
schoolData_complete["per_passing_read"]=(passing_reading.reading_score.count()/schoolData_complete.reading_score.count())
schoolData_complete.per_passing_read.head(1)

In [ ]:
#Create a dataframe to hold the above results
District_data = schoolData_complete[["school_count", "total_students", "district_budget",
                            "per_passing_math","per_passing_read","avg_math_score", "avg_reading_score", "overall_avg_score"]]
#Optional: give the displayed data cleaner formatting
District_data["district_budget"]=District_data["district_budget"].astype(float).map("${:,.2f}".format)
District_data["per_passing_math"]=District_data["per_passing_math"].astype(float).map('{:,.2%}'.format)
District_data["per_passing_read"]=District_data["per_passing_read"].astype(float).map('{:,.2%}'.format)

District_data.head(1)

In [ ]:
# School Summary
# Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above resultsool Summary

In [ ]:
Top Performing Schools (By % Overall Passing)

In [ ]:
#initial list of schools names and types 
schoolname_group_by_df = school_data_complete.groupby(['school_name','type'])

#Total Students 
student_count = pd.DataFrame({'Total Students' : schoolname_group_by_df["student_name"].count()}).reset_index()

#Total School Budget 
total_school_budget = pd.DataFrame({'Total School Budget': schoolname_group_by_df["budget"].mean()}).reset_index()
the_complete_picture = pd.merge(student_count, total_school_budget,on=["school_name","type"])

#Per Student Budget
per_student_budget = pd.DataFrame({'per student budget': schoolname_group_by_df["budget"].mean()/schoolname_group_by_df["student_name"].count()}).reset_index()
the_complete_picture = pd.merge(the_complete_picture, per_student_budget,on=["school_name","type"])

#Average Math Score
mean_math_score = pd.DataFrame({'Average Math Score' : schoolname_group_by_df["math_score"].mean()}).reset_index()
the_complete_picture = pd.merge(the_complete_picture, mean_math_score,on=["school_name","type"])

#Average Reading Score
mean_reading_score = pd.DataFrame({'Average Reading Score' : schoolname_group_by_df["reading_score"].mean()}).reset_index()
the_complete_picture = pd.merge(the_complete_picture, mean_reading_score,on=["school_name","type"])

#% Passing Math
passing_math_total_df = school_data_complete.loc[(school_data_complete["math_score"]>=70),:]
passing_math_total_groupby = passing_math_total_df.groupby(['school_name','type'])
passing_math = pd.DataFrame({'% Passing Math' : passing_math_total_groupby["student_name"].count()/schoolname_group_by_df["student_name"].count() * 100}).reset_index()
the_complete_picture = pd.merge(the_complete_picture, passing_math,on=["school_name","type"])

#% Passing Reading
passing_reading_total_df = school_data_complete.loc[(school_data_complete["reading_score"]>=70),:]
passing_reading_total_groupby = passing_reading_total_df.groupby(['school_name','type'])
passing_reading = pd.DataFrame({'% Passing Reading' : passing_reading_total_groupby["student_name"].count()/schoolname_group_by_df["student_name"].count() * 100}).reset_index()
the_complete_picture = pd.merge(the_complete_picture, passing_reading,on=["school_name","type"])

#% Overall Passing Rate
the_complete_picture
the_complete_picture["% Overall Passing Rate"] = (the_complete_picture["% Passing Math"] + the_complete_picture["% Passing Reading"]) / 2 


# items_pd["Total Students"] = items_pd["Total Students"].map(
#    "{0:,.0f}".format)
the_complete_picture["Total School Budget"] = the_complete_picture["Total School Budget"].map(
    "${0:,.2f}".format)
# the_complete_picture["per student budget"] = the_complete_picture["per student budget"].map(
#     "${0:,.2f}".format)

the_complete_picture

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
the_complete_picture = the_complete_picture.sort_values(by='% Overall Passing Rate')
the_complete_picture.head(5)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
table = pd.pivot_table(school_data_complete, values='math_score', index=['school_name'],columns=['grade'], aggfunc=np.mean)
table
# school_data_complete.head()
# grade = school_data_complete['grade'].unique()
# grade
# grade_9_schools = school_data_complete.loc[school_data_complete['grade']=='9th',:]
# grade_9_schools.head()
# grade_9_schools_group_by = grade_9_schools.groupby('school_name')
# grade_9_schools_group_by['math_score'].mean()

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
table = pd.pivot_table(school_data_complete, values='reading_score', index=['school_name'],columns=['grade'], aggfunc=np.mean)
table

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
pd.cut(the_complete_picture["per student budget"], spending_bins, labels=group_names).head()
#print(the_complete_picture["per student budget"].min())
# print(ted_df["views"].min())
the_complete_picture["school spending"] = pd.cut(the_complete_picture["per student budget"], spending_bins, labels=group_names)
the_complete_picture

# Create a GroupBy object based upon "View Group"
spending_group = the_complete_picture.groupby("school spending")

# Find how many rows fall into each bin
print(spending_group["per student budget"].count())

# Get the average of each column within the GroupBy object
spending_group[["Average Math Score", "Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]].mean()

## Scores by School Size

* Perform the same operations as above, based on school size.

In [3]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [4]:
pd.cut(the_complete_picture["Total Students"], size_bins, labels=group_names).head()
#print(the_complete_picture["per student budget"].min())
# print(ted_df["views"].min())
total["Total Students"] = pd.cut(the_complete_picture["Total Students"], size_bins, labels=group_names)
the_complete_picture

# Create a GroupBy object based upon "View Group"
size_group = the_complete_picture.groupby("Total Students")

# Find how many rows fall into each bin
#print(spending_group["per student budget"].count())

# Get the average of each column within the GroupBy object
size_group[["Average Math Score", "Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]].mean()

NameError: name 'pd' is not defined

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:

# Create a GroupBy object based upon "View Group"
school_type_group = the_complete_picture.groupby("type")

# Get the average of each column within the GroupBy object
school_type_group[["Average Math Score", "Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]].mean()